<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta name="description"
        content="Experience the best wedding photography in Aceh with LUXIMA.ID. We offer professional wedding photography services at the best price. | LUXIMA-ID" />
    <meta name="keywords"
        content="Wedding Photography, Photography Services, luxima.id, luxima-id, luxima photography, luxima studio, fotografer aceh, Wedding Organizer" />
    <meta name="author" content="LUXIMA.ID / Siddiq Achmad" />


    <link rel="shortcut icon" href="images/favicon.ico">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css">


    <!-- CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/custom.css">



    <title>Title | LUXIMA.ID</title>
</head>

<body>
    <div class="loader">
        <svg class="curtain"  viewBox="0 0 1000 1000" preserveAspectRatio="none">
            <path class="bluee" d="M0,1005S175,995,500,995s500,5,500,5V0H0Z" fill="whitesmoke"></path>
        </svg>
    </div>

    <div class="container">
        <div class="menu">
            <nav class="navigation">
              <ul class="nav-first">
                <li><a class="menu-links" href="/#">Home </a></li>  
                <li><a class="menu-links" href="/#about">About </a></li>   
                <li><a class="menu-links" href="/#service">Service</a></li>
                <li><a class="menu-links" href="/#promo">Promo</a></li>
              </ul>

              <ul class="nav-second">   
                <li><a class="menu-links" href="https://www.luxima-id.com">Luxima ID </a></li> 
                <li><a class="menu-links" href="https://cloud.luxima.id/">Cloud Luxima</a></li>
                <li><a class="menu-links" href="https://crm.luxima.id/">Client Area</a></li>
                <li><a class="menu-links" href="https://webmail.luxima.id/">Luxima Mail</a></li>
                <li><a class="menu-links" href="https://u.luxima.id/">Invitation</a></li>
              </ul>

              

              
            </nav> 
            
            <div class="copyright"> 
                <div class="medsos-footer">
                    <div class="med-follow">
                        <h4>Get In Touch</h4>
                    </div>
                    <div class="logo-medsos">
                        
                        <a href="https://www.instagram.com/luxima.id/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.facebook.com/luxima.photo"><i  class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.twitter.com/luximaid"><i  class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.youtube.com/@luxima-id"><i  class="fa-brands fa-youtube"></i></a>
                        <a href="https://wa.me/message/AZYBKFPVQNLDK1"><i  class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>
            <p>Made with <i class="fa fa-heart" aria-hidden="true" style="color:#be1931"></i> <a href="https://siddiq.luxima.id">SiddiqAchmad</a><br>
            &copy; Copyright 2023, LUXIMA.ID</p>
            
            
             </div>
          
          </div>


          <div class="atas">
            <div id="logo" class="logo">
                <a href="#" class="lxm">luxima</a>
            </div>
            <div class="navigasi">
                
                    <li><a class="navlink" href="/#">HOME</a></li>
                    <li><a class="navlink" href="/#about">ABOUT</a></li>
                    <li><a class="navlink" href="/#product">SERVICE</a></li>
                    <li><a class="navlink" href="/#promo">PROMO</a></li>
                
            </div>
            <div class="login">
                 <a class="navlink" href="https://crm.luxima.id">LOGIN</a>
            </div>
            <div class="box">
         
                <div class="side-nav-menu">
                    <svg class="hamburger" viewBox="0 0 80 80">
                      <line class="line01" x1="0" y1="3" x2="80" y2="3" />
                      <line class="line02" x1="0" y1="40" x2="80" y2="40" /> 
                      <line class="line03" x1="0" y1="77" x2="80" y2="77" />
                    </svg>
              
                    </div>
            </div>
        </div>
        <div class="row">

            
            <div class="title">
                <h1>Judul Utama</h1>
                
            </div>
            <div class="cards">


               

            </div>

            <div class="vendor">
                <div class="vtext">
                    <div class="ovallink">
                        <svg class="clink" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
                            <a xlink:href="https://luxima-id.com/" target="_blank">
                                <ellipse cx="100" cy="50" rx="100" ry="20" />
                                <text x="100" y="50" fill="black" text-anchor="middle" dominant-baseline="middle">
                                    Luxima id
                                </text>
                            </a>
                        </svg>
                    </div>
                </div>

                <div class="vtext">
                    <div class="ovallink">
                        <svg class="clink" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
                            <a xlink:href="https://cloud.luxima.id" target="_blank">
                                <ellipse cx="100" cy="50" rx="100" ry="20"/>
                                <text x="100" y="50" fill="black" text-anchor="middle" dominant-baseline="middle">
                                    Cloud luxima
                                </text>
                            </a>
                        </svg>
                    </div>
                </div>
                <div class="vtext">
                    <div class="ovallink">
                        <svg class="clink" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
                            <a xlink:href="https://crm.luxima.id" target="_blank">
                                <ellipse cx="100" cy="50" rx="100" ry="20" />
                                <text x="100" y="50" fill="black" text-anchor="middle" dominant-baseline="middle">
                                    Client Area
                                </text>
                            </a>
                        </svg>
                    </div>
                </div>
                <div class="vtext">
                    <div class="ovallink">
                        <svg class="clink" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
                            <a xlink:href="https://webmail.luxima.id" target="_blank">
                                <ellipse cx="100" cy="50" rx="100" ry="20" />
                                <text x="100" y="50" fill="black" text-anchor="middle" dominant-baseline="middle">
                                    Webmail
                                </text>
                            </a>
                        </svg>
                    </div>
                </div>
                <div class="vtext">
                    <div class="ovallink">
                        <svg class="clink" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
                            <a xlink:href="https://u.luxima.id" target="_blank">
                                <ellipse cx="100" cy="50" rx="100" ry="20" />
                                <text x="100" y="50" fill="black" text-anchor="middle" dominant-baseline="middle">
                                    Invitation
                                </text>
                            </a>
                        </svg>
                    </div>
                </div>


                <div class="vtext">
                    <div class="ovallink">
                        <svg class="clink" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
                            <a xlink:href="https://luxima-id.com/link" target="_blank">
                                <ellipse cx="100" cy="50" rx="100" ry="20" />
                                <text x="100" y="50" fill="black" text-anchor="middle" dominant-baseline="middle">
                                    Luxima Link
                                </text>
                            </a>
                        </svg>
                    </div>
                </div>

                <div class="vtext">
                    <div class="ovallink">
                        <svg class="clink" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
                            <a xlink:href="https://cloud.luxima.id" target="_blank">
                                <ellipse cx="100" cy="50" rx="100" ry="20" />
                                <text x="100" y="50" fill="black" text-anchor="middle" dominant-baseline="middle">
                                    Luxima Cloud
                                </text>
                            </a>
                        </svg>
                    </div>
                </div>
                <div class="vtext">
                    <div class="ovallink">
                        <svg class="clink" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
                            <a xlink:href="https://crm.luxima.id" target="_blank">
                                <ellipse cx="100" cy="50" rx="100" ry="20" />
                                <text x="100" y="50" fill="black" text-anchor="middle" dominant-baseline="middle">
                                    Client Area
                                </text>
                            </a>
                        </svg>
                    </div>
                </div>
                <div class="vtext">
                    <div class="ovallink">
                        <svg class="clink" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
                            <a xlink:href="https://webmail.luxima.id" target="_blank">
                                <ellipse cx="100" cy="50" rx="100" ry="20" />
                                <text x="100" y="50" fill="black" text-anchor="middle" dominant-baseline="middle">
                                    Webmail
                                </text>
                            </a>
                        </svg>
                    </div>
                </div>
                <div class="vtext">
                    <div class="ovallink">
                        <svg class="clink" viewBox="0 0 200 100" xmlns="http://www.w3.org/2000/svg">
                            <a xlink:href="https://u.luxima.id" target="_blank">
                                <ellipse cx="100" cy="50" rx="100" ry="20" />
                                <text x="100" y="50" fill="black" text-anchor="middle" dominant-baseline="middle">
                                    Invitation
                                </text>
                            </a>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="footer">
        <div class="footer-top">

        </div>

        <div class="footer-content">
            <div class="footer-content-start">
                <h3>Menu</h3>

                <li><a class="menu-links" href="/">Home </a></li>  
                <li><a class="menu-links" href="/#about">About </a></li>   
                <li><a class="menu-links" href="/#service">Service</a></li>
                <li><a class="menu-links" href="/#promo">Promo</a></li>


            </div>
            <div class="footer-content-start">
                <h3>Link</h3>

                <li class="link-footer"> <a href="https://luxima-id.com">Luxima ID</a></li>
                <li class="link-footer"> <a href="https://cloud.luxima.id/">Cloud Luxima</a></li>
                <li class="link-footer"> <a href="https://crm.luxima.id/">Customer Relationship Managenemt</a></li>
                <li class="link-footer"> <a href="https://webmail.luxima.id/">Webmail</a></li>
                <li class="link-footer"> <a href="https://crm.luxima.id/index.php/knowledge_base">Help</a></li>
            </div>
            <div class="footer-content-end">
                <h3>SIGN UP TO RECEIVE <br> OUR NEWSLETTER</h3>
                <div class="input-footer">
                    <form action="#">
                        <input class="in-foot" type="email" id="subscribe" name="subscribe" placeholder="your@mail.com">
                    </form>
                </div>
                <div class="medsos-footer">
                    <div class="med-follow">
                        <h4>Get In Touch</h4>
                    </div>
                    <div class="logo-medsos">

                        <a href="https://www.instagram.com/luxima.id/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.facebook.com/luxima.photo"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.twitter.com/luximaid"><i class="fa-brands fa-twitter"></i></a>
                        <a href="https://www.youtube.com/@luxima-id"><i class="fa-brands fa-youtube"></i></a>
                        <a href="https://wa.me/message/AZYBKFPVQNLDK1"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-bottom">

        </div>
    </div>

    <div class="sosmed">
        <div class="smlabel">Get in touch</div>
        <div class="smspacer"></div>
        <div class="smitem"><a href="https://www.instagram.com/luxima.id/" target="_blank"><i class="fa-brands fa-instagram"></i></a></div>
        <div class="smitem"><a href="https://www.facebook.com/luxima.photo" target="_blank"><i class="fa-brands fa-facebook"></i></a></div>
        <div class="smitem"><a href="https://twitter.com/luximaid" target="_blank"><i class="fa-brands fa-twitter"></i></a></div>
        <div class="smitem"><a href="https://www.youtube.com/@luxima-id" target="_blank"><i class="fa-brands fa-youtube"></i></a></div>
        <div class="smitem"><a href="https://wa.me/message/AZYBKFPVQNLDK1" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></div>
      </div>


    <!-- <button class="backtotop"><i class='fa'>&#xf106;</i></button> -->
    <a class="backtotop" href="#"><span></span></a>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://kit.fontawesome.com/c83ed32d69.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollToPlugin.min.js"></script>




    <script src="js/script.js"></script>
    <script src="js/GSAP-Page.js"></script>

</body>

</html>